{% extends "comp/base_generic.html" %}

{% load static %}

{% block h1 %} <h1>Login</h1> {% endblock %}
{% block content %}
{% block navbar %}
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav me-auto mb-3 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" href="./">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./help">Help</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./about">About</a>
    </li>
  </ul>
</div>
{% endblock %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" style="background-color: white; margin-top: 5em; margin-left: 36em;
  border: 2px solid green; height: 200px;">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" style="height: 50px; width: 100px; margin-top: 4.5em;"/>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}" style="margin-left: 33em; font-size: 18px;">Lost password?</a></p>

{% endblock %}