body{
    background-color: #181818;
}
form {
    width:400px;
    display: flex; justify-content: center;
    margin-right: 38%;
}
h1 {
    color: white;
    display: flex; justify-content: center;
}
.card-text{
    margin-left: 74%;
}