body{
    background-color: #181818;
}
form {
    width:400px;
    display: flex; justify-content: center;
    margin-right: 30%;
}
h1 {
    color: white;
    display: flex; justify-content: center;
}
.card-text{
    margin-left: 74%;
    width: 250px;
}
.to-left{
    color: yellow;
    margin-right: 68%;
}
.card-img-top{
    margin-left: 5px;
    width: 30px;
}
.btn-lg{
    margin-left: 43%;
}
.card-img-left{
    width: 200px;
}
.to-small{
    margin-right: 25em;
    font-size: 1.2rem;
}
