<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Help</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'comp/index.css' %}">
    <script src="https://kit.fontawesome.com/6a77954884.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Help/FAQ</h1>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="">Help</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="./">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading1">Поиск товара</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading2">Кто автор?</a>
      </li>
    </ul>
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
      <h4 id="scrollspyHeading1">Как найти товар на сайте?</h4>
      <p>Переходите на страницу <a href="http://127.0.0.1:8000/">home</a> и вбиваете в поиск интересующий вас товар</p>
      <h4 id="scrollspyHeading2">Кто автор?</h4>
      <p>Все ссылки на меня вы можете найти внизу страницы сайта или во вкладке
        <a href="http://127.0.0.1:8000/about">about</a></p>
    </div>
      <footer class="fixed-bottom">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Follow my socials</h5>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="https://instagram.com/ghauru" target="_blank"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://t.me/ghauru" target="_blank"><i class="fa-brands fa-telegram"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/Ghauru" target="_blank"><i class="fa-brands fa-github"></i></a>
              </li>
              <p class="card-text">Site design & logo © 2022 Ghauru</p>
            </ul>
          </div>
        </div>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>