{% extends "comp/base_generic.html" %}

{% block title %}
<title>Help</title>
{% endblock %}
{% block navbar %}
    <div class="container-fluid">
    <a class="navbar-brand">Help</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="./">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about">About</a>
        </li>
      </ul>
        <form class="d-flex" role="search" action="./" method="GET">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
{% endblock %}
{% block content %}
<ul class="nav nav-pills" style="margin: 1em;">
  <li class="nav-item">
    <a class="nav-link" href="#scrollspyHeading1">Поиск товара</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#scrollspyHeading2">Кто автор?</a>
  </li>
</ul>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0" style="margin: 1em;">
  <h4 id="scrollspyHeading1">Как найти товар на сайте?</h4>
  <p>Переходите на страницу <a href="http://127.0.0.1:8000/">home</a> и вбиваете в поиск интересующий вас товар</p>
  <h4 id="scrollspyHeading2">Кто автор?</h4>
  <p>Все ссылки на меня вы можете найти внизу страницы сайта или во вкладке
    <a href="http://127.0.0.1:8000/about">about</a></p>
</div>
{% endblock %}