<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <img src="https://cdn1.ozone.ru/s3/multimedia-w/c1000/6194110520.jpg"
         alt="Картинка продукта"
         width="40%">
    <h1>Сравнение товаров в маркетплейсах</h1>
    <p>Введите товар</p>
    <a href="https://www.ozon.ru/">
        Ozon.ru
    </a>
    <a href="./help.html"
        target="_blank">
        Помощь
    </a>
    <h2>Маркетплейсы</h2>
    <ul>
        <li>
            <a href="https://www.ozon.ru/">
            OZON
            </a>
        </li>
        <li>Wildberries</li>
        <li>Элемент3</li>
    </ul>
</body>
</html>